<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-light-blue-cyan">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper"><a class="brand-logo darken-1" routerLink="/"><img src="assets/images/logo/materialize-logo.png" alt="materialize logo"><span class="logo-text hide-on-med-and-down">Materialize</span></a></h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down"><i class="material-icons">search</i>
          <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize">
        </div>
        <ul class="navbar-list right">
          <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light translation-button" href="javascript:void(0);" data-target="translation-dropdown"><span class="flag-icon flag-icon-gb"></span></a></li>
          <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
          <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search         </i></a></li>
          <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge orange accent-3">5</small></i></a></li>
          <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="assets/images/avatar/avatar-7.png" alt="avatar"><i></i></span></a></li>
          <li><a class="waves-effect waves-block waves-light sidenav-trigger" href="#" data-target="slide-out-right"><i class="material-icons">format_indent_increase</i></a></li>
        </ul>
        <!-- translation-button-->
        <ul class="dropdown-content" id="translation-dropdown">
          <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-gb"></i> English</a></li>
          <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-fr"></i> French</a></li>
          <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-cn"></i> Chinese</a></li>
          <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-de"></i> German</a></li>
        </ul>
        <!-- notifications-dropdown-->
        <ul class="dropdown-content" id="notifications-dropdown">
          <li>
            <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
          </li>
          <li class="divider"></li>
          <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
          </li>
          <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
          </li>
          <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
          </li>
          <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
          </li>
          <li><a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
          </li>
        </ul>
        <!-- profile-dropdown-->
        <ul class="dropdown-content" id="profile-dropdown">
          <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i> Profile</a></li>
          <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> Chat</a></li>
          <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i> Help</a></li>
          <li class="divider"></li>
          <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> Lock</a></li>
          <li><a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i> Logout</a></li>
        </ul>
      </div>
      <nav class="display-none search-sm">
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input class="search-box-sm" type="search" required="">
              <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
            </div>
          </form>
        </div>
      </nav>
    </nav>
    <!-- BEGIN: Horizontal nav start-->
    <nav class="white hide-on-med-and-down" id="horizontal-nav">
      <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
          <li><a class="dropdown-menu" href="#" data-target="DashboardDropdown"><i class="material-icons">dashboard</i><span>Dashboard<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="DashboardDropdown">
              <li data-menu=""><a href="dashboard-modern.html">Modern</a>
              </li>
              <li class="active" data-menu=""><a href="dashboard-ecommerce.html">eCommerce</a>
              </li>
              <li data-menu=""><a href="dashboard-analytics.html">Analytics</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="TemplatesDropdown"><i class="material-icons">dvr</i><span>Templates<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="TemplatesDropdown">
              <li data-menu=""><a href="../vertical-modern-menu-template/">Modern  Menu</a>
              </li>
              <li data-menu=""><a href="../vertical-menu-nav-dark-template/">Navbar Dark</a>
              </li>
              <li data-menu=""><a href="../vertical-gradient-menu-template/">Gradient Menu</a>
              </li>
              <li data-menu=""><a href="../vertical-dark-menu-template/">Dark Menu</a>
              </li>
              <li data-menu=""><a href="../horizontal-menu-template/">Horizontal Menu</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="AppsDropdown"><i class="material-icons">mail_outline</i><span>Apps<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="AppsDropdown">
              <li data-menu=""><a href="app-email.html"><i class="mail_outline"></i>Mailbox</a>
              </li>
              <li data-menu=""><a href="app-chat.html"><i class="chat_bubble_outline"></i>Chat</a>
              </li>
              <li data-menu=""><a href="app-todo.html"><i class="check"></i>ToDo</a>
              </li>
              <li data-menu=""><a href="app-contacts.html"><i class="contacts"></i>Contacts</a>
              </li>
              <li data-menu=""><a href="app-calendar.html"><i class="today"></i>Calendar</a>
              </li>
              <li data-menu=""><a href="eCommerce-products-page.html">Products Page</a>
              </li>
              <li data-menu=""><a href="eCommerce-pricing.html">Pricing</a>
              </li>
              <li data-menu=""><a href="eCommerce-invoice.html">Invoice</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="PageDropdown"><i class="material-icons">content_paste</i><span>Pages<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="PageDropdown">
              <li data-menu=""><a routerLink="pages/contact">Contact</a>
              </li>
              <li data-menu=""><a href="page-blog-list.html">Blog</a>
              </li>
              <li data-menu=""><a href="page-search.html">Search</a>
              </li>
              <li data-menu=""><a href="page-knowledge.html">Knowledge</a>
              </li>
              <li data-menu=""><a href="page-faq.html">FAQs</a>
              </li>
              <li data-menu=""><a href="page-blank.html">Page Blank</a>
              </li>
              <li data-menu=""><a href="user-profile-page.html">User Profile</a>
              </li>
              <li data-menu=""><a href="user-login.html">Login</a>
              </li>
              <li data-menu=""><a href="user-register.html">Register</a>
              </li>
              <li data-menu=""><a href="user-forgot-password.html">Forgot Password</a>
              </li>
              <li data-menu=""><a href="user-lock-screen.html">Lock Screen</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="Cards"><i class="material-icons">cast</i><span>Cards<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="Cards">
              <li data-menu=""><a href="cards-basic.html">Cards</a>
              </li>
              <li data-menu=""><a href="cards-advance.html">Cards Advance</a>
              </li>
              <li data-menu=""><a href="cards-extended.html">Cards Extended</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="CssDropdown"><i class="material-icons">invert_colors</i><span>CSS<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="CssDropdown">
              <li data-menu=""><a href="css-typography.html">Typograpy</a>
              </li>
              <li data-menu=""><a href="css-color.html">Color</a>
              </li>
              <li data-menu=""><a href="css-grid.html">Grid</a>
              </li>
              <li data-menu=""><a href="css-helpers.html">Helpers</a>
              </li>
              <li data-menu=""><a href="css-media.html">Media</a>
              </li>
              <li data-menu=""><a href="css-pulse.html">Pulse</a>
              </li>
              <li data-menu=""><a href="css-sass.html">Sass</a>
              </li>
              <li data-menu=""><a href="css-shadow.html">Shadow</a>
              </li>
              <li data-menu=""><a href="css-animations.html">Animations</a>
              </li>
              <li data-menu=""><a href="css-transitions.html">Transitions</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="BasicUIDropdown"><i class="material-icons">photo_filter</i><span>Basic UI<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="BasicUIDropdown">
              <li data-menu=""><a href="ui-basic-buttons.html">Basic Buttons</a>
              </li>
              <li data-menu=""><a href="ui-extended-buttons.html">Extended Buttons</a>
              </li>
              <li data-menu=""><a href="ui-icons.html">Icons</a>
              </li>
              <li data-menu=""><a href="ui-alerts.html">Alerts</a>
              </li>
              <li data-menu=""><a href="ui-badges.html">Badges</a>
              </li>
              <li data-menu=""><a href="ui-breadcrumbs.html">Breadcrumbs</a>
              </li>
              <li data-menu=""><a href="ui-chips.html">Chips</a>
              </li>
              <li data-menu=""><a href="ui-collections.html">Collections</a>
              </li>
              <li data-menu=""><a href="ui-navbar.html">Navbar</a>
              </li>
              <li data-menu=""><a href="ui-pagination.html">Pagination</a>
              </li>
              <li data-menu=""><a href="ui-preloader.html">Preloader</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="AdvancedUIDropdown"><i class="material-icons">settings_brightness</i><span>Advanced UI<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="AdvancedUIDropdown">
              <li data-menu=""><a href="advance-ui-carousel.html">Carousel</a>
              </li>
              <li data-menu=""><a href="advance-ui-collapsibles.html">Collapsibles</a>
              </li>
              <li data-menu=""><a href="advance-ui-toasts.html">Toasts</a>
              </li>
              <li data-menu=""><a href="advance-ui-tooltip.html">Tooltip</a>
              </li>
              <li data-menu=""><a href="advance-ui-dropdown.html">Dropdown</a>
              </li>
              <li data-menu=""><a href="advance-ui-feature-discovery.html">Discovery</a>
              </li>
              <li data-menu=""><a href="advance-ui-media.html">Media</a>
              </li>
              <li data-menu=""><a href="advance-ui-modals.html">Modals</a>
              </li>
              <li data-menu=""><a href="advance-ui-scrollspy.html">Scrollspy</a>
              </li>
              <li data-menu=""><a href="advance-ui-tabs.html">Tabs</a>
              </li>
              <li data-menu=""><a href="advance-ui-waves.html">Waves</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="ExtraComponentsDropdown"><i class="material-icons">add_to_queue</i><span>Extra Components<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="ExtraComponentsDropdown">
              <li data-menu=""><a href="extra-components-range-slider.html">Range Slider</a>
              </li>
              <li data-menu=""><a href="extra-components-sweetalert.html">Sweetalert</a>
              </li>
              <li data-menu=""><a href="extra-components-nestable.html">Nestable</a>
              </li>
              <li data-menu=""><a href="extra-components-translation.html">Translation</a>
              </li>
              <li data-menu=""><a href="extra-components-highlight.html">Highlight</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="formsTables"><i class="material-icons">chrome_reader_mode</i><span>Forms &amp; Tables<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="formsTables">
              <li data-menu=""><a href="table-basic.html"><i class="border_all"></i>Basic Tables</a>
              </li>
              <li data-menu=""><a href="table-data-table.html"><i class="border_all"></i>Data Tables</a>
              </li>
              <li data-menu=""><a href="form-elements.html">Form Elements</a>
              </li>
              <li data-menu=""><a href="form-validation.html">Form Validation</a>
              </li>
              <li data-menu=""><a href="form-masks.html">Form Masks</a>
              </li>
              <li data-menu=""><a href="form-file-uploads.html">File Uploads</a>
              </li>
            </ul>
          </li>
          <li><a class="dropdown-menu" href="#" data-target="ChartDropdown"><i class="material-icons">pie_chart_outlined</i><span>Chart<i class="material-icons right">keyboard_arrow_down</i></span></a>
            <ul class="dropdown-content dropdown-horizontal-list" id="ChartDropdown">
              <li data-menu=""><a href="charts-chartjs.html">ChartJS</a>
              </li>
              <li data-menu=""><a href="charts-chartist.html">Chartist</a>
              </li>
              <li data-menu=""><a href="charts-sparklines.html">Sparkline Charts</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END: Horizontal nav start-->
    </nav>
  </div>
</header>
<!-- END: Header-->

